
// Bootstrap's variables (which will use ours where set)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/highcharts/css/highcharts";
:root, body {
    background-color: #f8fafb;
    color: $dark;
}
div.card {
    width: 30vw;
    min-width: 350px;
    max-width: 500px;
    height: 400px;
    margin: 20px;
    box-shadow: 5px 5px 10px 0px #dcdcef;
}
div.chart-container {
}
