
// Bootstrap's variables (which will use ours where set)
@import "../../node_modules/bootstrap/scss/variables";
:root, body {
    background-color: hsla(228, 0%, 94%, 1);
    color: $dark;
}
div.card {
    //width: 30vw;
    //min-width: 350px;
    //max-width: 500px;
    margin: 20px;
    box-shadow: 5px 5px 10px 0 hsla(228, 0%, 80%, 1);
    border-radius: 20px !important;
}
div.chart-container {
}
