
// Bootstrap's variables (which will use ours where set)
@import "../../node_modules/bootstrap/scss/variables";
:root, body {
    background-color: hsl(201.8, 26.8%, 92%);
    color: $dark;
}
div.card {
    //width: 30vw;
    //min-width: 350px;
    //max-width: 500px;
    margin: 20px;
    box-shadow: 5px 5px 10px 0 hsl(201.8, 26.8%, 72%);
    border-radius: 20px !important;
}
div.chart-container {
}
